/*******************************************************************************
* Stylesheet for home page                                                     *
*******************************************************************************/

html, body {
    height: 100%;
}

body {
    background-color: black;
}

.bg-img {
    background-image: url("../images/wallpaper.jpg");
    background-position: 48% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: -1;
    opacity: .4;
}

.error-message {
    font-weight: bold;
}

.container {
    padding-top: 6em;
    color: white;
}

.sub-menu li a {
    padding-top: .25em !important;
    padding-bottom: .25em !important;
}

#favoriteGenre {
    color: darkorange;
    font-size: 25px;
}

.list-group img {
    width: 55px;
    height: 55px;
    float: left;
}

.list-group a {
    background-color: rgba(0,0,0,.6);
    border: 2px solid orange;
    box-shadow: 2px 2px 10px darkorange;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: 1em;
    margin: 1em;
}
.list-group a:hover {
    text-decoration: none;
    background-color: black;
    box-shadow: 2px 2px 10px darkorange, 2px 2px 20px orange;
}

.event-list-title {
    color: #9dd0e1;
    font-size: 1.25em;
}

.event-list-date {
    font-size: 1.25em;
    display: block;
    float: right;
}

.modal-body {
    background-color: white;
}

.close {
    color: red !important;
    font-size: 2em;
    float: right;
}

.modal img {
    max-width: 150px;
    float: left;
}


.modal h5 {
    text-align: center;
    margin-top: 2em;
}

.modal hr {
    clear: both;
}

.modal p {
    color: black;
    font-size: 1.20em;
    text-align: center;
}

.modal .event-date-time {
    width: 47%;
    float: left;
}

.v-divider {
    border-right: 1px solid lightgray;
    width: 1%;
    height: 150px;
    float: left;
}

.modal .event-location {
    width: 47%;
    float: right;
}

.h-divider {
    display: block;
    clear: both;
    height: 100px;
    width: 100%;
}

.add-remove-show {
    clear: both;
    display: block;
    border: 2px solid darkorange;
    background-color: white;
    color: darkorange;
    padding: 14px 28px;
    font-size: 20px;
    letter-spacing: .1em;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.add-remove-show:hover {
    background-color: darkorange;
    color: white;
    text-decoration: none;
}

/* Meidum screens and up */
@media (min-width: 768px) {
    .container {
        padding: 8em 2em 3em 2em;
    }
    .container h4 {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}