/*******************************************************************************
* Stylesheet for home page                                                     *
*******************************************************************************/

html, body {
    height: 100%;
}

body {
    background-color: black;
}

.bg-img {
    background-image: url("../images/wallpaper.jpg");
    background-position: 48% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: -1;
    opacity: .4;
}

.container {
    padding-top: 6em;
    color: white;
}

.sub-menu li a {
    padding-top: .25em !important;
    padding-bottom: .25em !important;
}

#favoriteGenre {
    color: darkorange;
    font-size: 25px;
}

.list-group img {
    width: 55px;
    height: 55px;
    float: left;
}

.list-group a {
    background-color: rgba(0,0,0,.6);
    border: 2px solid orange;
    box-shadow: 2px 2px 10px darkorange;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: 1em;
    margin: 1em;
}
.list-group a:hover {
    text-decoration: none;
}

.event-list-title {
    color: #9dd0e1;
    font-size: 1.25em;
}

.event-list-date {
    font-size: 1.25em;
    display: block;
    float: right;
}

.modal-body {
    background-color: white;
}

.close {
    color: red;
    float: right;
    padding-bottom: .5em;
}

.modal img {
    max-width: 128px;
}

/* Meidum screens and up */
@media (min-width: 768px) {
    .container {
        padding: 8em 2em 3em 2em;
    }
    .container h4 {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}