/*******************************************************************************
* Stylesheet for index.html                                                    *
*******************************************************************************/

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

.bg-img {
    display: none;

    background-image: url("../images/wallpaper.jpg");
    background-position: 48% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: auto;
    z-index: -1;
}

h1, h2 {
    display: none;

    color: orange;
    text-shadow: 0 0 10px darkorange, 0 0 20px darkblue, 0 0 30px darkblue, 0 0 40px darkblue, 0 0 50px darkblue, 0 0 60px darkorange, 0 0 70px darkorange;
    letter-spacing: .2em;
    font-family: fantasy;
    font-weight: normal;
    font-size: 2.2em;
}

#showMe {
    position: relative;
    top: 1000px;
    box-shadow: 0 0 20px darkorange, 0 0 30px darkblue, 0 0 40px darkblue, 0 0 50px darkblue, 0 0 60px darkorange, 0 0 70px darkorange, 0 0 80px darkorange;
    background-color: darkorange;
    color: white;
    font-size: 1em;
    font-variant: small-caps;
    letter-spacing: .05em;
    margin-top: 2em;
}
#showMe:hover {
    background-color: #cc7000;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 20px darkorange, 0 0 30px darkblue, 0 0 40px darkblue, 0 0 50px darkblue, 0 0 60px darkorange, 0 0 70px darkorange, 0 0 80px darkorange;
    }
    to {
        box-shadow: 0 0 10px orange, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px orange, 0 0 70px orange;
    }
}


/* Meidum screens and up */
@media (min-width: 768px) {
    .headingDiv {
        margin-top: 8em;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 4em;
    }
    #showMe {
        font-size: 1.25em;
    }
}