/*******************************************************************************
* Stylesheet for index.html                                                    *
*******************************************************************************/

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

.navbar {
    height: 80px;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 1);
}

.bg-img {
    display: none;

    background-image: url("../images/wallpaper.jpg");
    background-position: 48% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: auto;
    z-index: -1;
}

.headingDiv {
    margin-top: 7em;
}

h1, h2 {
    display: none;

    color: orange;
    text-shadow: 0 0 10px orange, 0 0 20px darkblue, 0 0 30px darkblue, 0 0 40px darkorange, 0 0 50px orange;
    letter-spacing: .2em;
    font-family: fantasy !important;
    font-weight: normal;
    font-size: 2.2em;
}

#showMe {
    position: relative;
    top: 1000px;

    background-color: rgba(0, 0, 0, 0);
    color: darkorange;
    border: 2px solid darkorange;
    box-shadow: 0 0 10px orange, 0 0 20px darkblue;
    font-size: 1.25em;
    font-variant: small-caps;
    letter-spacing: .05em;
    margin-top: 2em;
    border-radius: 16px;
}
#showMe:hover {
    background-color: orange;
    border-color: orange;
    color: white;
    box-shadow: 0 0 10px orange, 0 0 20px darkblue, 0 0 30px darkblue, 0 0 40px darkorange, 0 0 50px orange;
}


/* Meidum screens and up */
@media (min-width: 768px) {
    .headingDiv {
        margin-top: 10em;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 4em;
    }
}