/*******************************************************************************
* Stylesheet for home page                                                     *
*******************************************************************************/

.sub-menu li a {
    padding-top: .25em !important;
    padding-bottom: .25em !important;
}

.container {
    padding-top: 8em;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

.success-message {
    left: 36%;
}