/*
    StyleSheet for Index.jsp
*/

/* Navbar styles */
nav {
    background-color: #060A13;
    margin-bottom: 5em;
}

.navbar {
    padding: .5em 2em .5em 2em;
}

nav a {
    color: #BAD2EE;
}
nav a:hover {
    color: #eeceba;
}

.navbar-brand {
    font-size: 1.75em;
}

.navbar-toggler {
    color: #BAD2EE;
}

.nav-link {
    border-bottom: 2px solid #060A13;
    font-variant: small-caps;
    font-size: 1.2em;
}
.nav-link:hover {
    border-bottom: 2px solid #eeceba;
}


/* Main Section */
.display-1 {
    color: #ab5d2c;
}
.display-2 {
    color: #ab5d2c;
    margin-bottom: 1em;
}

.signUp-btn {
    background-color: #dd8755;
    border: 3px solid #dd8755;
    border-radius: 12px;
    color: #060A13;
    font-size: 1.1em;
    font-variant: small-caps;
    letter-spacing: .1em;
    padding: .5em 1em .5em 1em;
}
.signUp-btn:hover {
    background-color: #d9783f;
    border-color: #d9783f;
    color: #060A13;
    text-decoration: none;
}


/* Sign Up Page Styles */
#showMeTitle {
    color: #ab5d2c;
    letter-spacing: .1em;
}

.signUpForm {
    background-color: #dd8755;
    border-radius: 12px;
    box-shadow: 2px 3px 4px;
    padding: 1em;
}
#submitButton {
    background-color: #2C65AB;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 1.1em;
    font-variant: small-caps;
    letter-spacing: .15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    width: 100%;
}
#submitButton:hover {
    background-color: #25548e;
}