/*******************************************************************************
*   General Styles for  for ShowMe web site                                      *
*******************************************************************************/

* {
    box-sizing: border-box;
}


/*
    Nav Styles
 */
nav {
    background-color: rgba(0, 0, 0, .75);
    height: 80px;
}

.navbar-brand {
    color: orange;
    font-size: 1.5em;
    font-family: fantasy;
    font-variant: small-caps;
    letter-spacing: .25em;
    padding: .5em;
}
.navbar-brand:hover {
    color: darkorange;
    text-shadow: darkblue 3px 4px 5px;
}