/*
    StyleSheet for Index.jsp
*/

/* Navbar styles */
nav {
    background-color: #060A13;
    margin-bottom: 5em;
}

.navbar {
    padding: .5em 2em .5em 2em;
}

nav a {
    color: #BAD2EE;
}
nav a:hover {
    color: #eeceba;
}

.navbar-brand {
    font-size: 1.75em;
}

.nav-link {
    border-bottom: 2px solid #060A13;
    font-variant: small-caps;
    font-size: 1.2em;
}
.nav-link:hover {
    border-bottom: 2px solid #eeceba;
}


/* Main Section */
.display-1 {
    color: #ab5d2c;
}
.display-2 {
    color: #ab5d2c;
    margin-bottom: 1em;
}

.signUp-btn {
    background-color: #e2986e;
    border: 3px solid #e2986e;
    border-radius: 12px;
    color: #060A13;
    font-size: 1.5em;
    font-variant: small-caps;
    padding: .5em 1em .5em 1em;
}
.signUp-btn:hover {
    background-color: #dd8755;
    border-color: #dd8755;
    color: #060A13;
    text-decoration: none;
}