/*******************************************************************************
* Stylesheet for sign up and log in pages                                      *
*******************************************************************************/


/*
    Main section
*/

.container {
    padding: 6em 1em 0em 1em;
    color: white;
    height: 100%;
}

h1 {
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 20px darkblue, 0 0 30px darkblue, 0 0 40px darkorange, 0 0 50px orange;
    letter-spacing: .2em;
    font-family: fantasy !important;
    font-weight: normal;
    font-size: 2.2em;
}

hr {
    color: darkorange;
    background-color: darkorange;
    margin: 1em 2em;
}

h5 {
    padding: 2em;
    text-align: center;
}

h5 i {
    font-size: 1.5em;
}

#v-divider-left {
    border-left: 1px solid orange;
    height: 200px;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
    display: none;
}

#v-divider-right {
    border-right: 1px solid orange;
    height: 200px;
    position: absolute;
    right: 100%;
    margin-right: -3px;
    top: 0;
    display: none;
}

a#signUpLink {
    position: relative;
    top: 350px;
    color: orange;
}
a#signUpLink:hover {
    text-decoration: none;
}
a#signUpLink h3:hover {
    color: lightblue !important;
}

/*
    Form Styles
*/
form {
    margin-bottom: 6em;
}
#signUp {
    padding-top: 8em;
}

h3 {
    color: orange;
    margin-bottom: 1em;
}

#phoneNumber {
    letter-spacing: .05em;
}

.submit-button {
    background-color: orange;
    color: white;
}
.submit-button:hover {
    background-color: #cc8500;
}


/* Meidum screens and up */
@media (min-width: 768px) {
    .container {
        padding-top: 10em;
    }
    h1 {
        font-size: 5em;
    }
    #v-divider-left, #v-divider-right {
        display: block;
    }
}

