/*******************************************************************************
* Stylesheet for sign up and log in pages                                      *
*******************************************************************************/

html, body {
    height: 100%;
}

body {
    background-color: black;
}

    .bg-img {
    background-image: url("../images/wallpaper.jpg");
    background-position: 48% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: -1;
}


/*
    Main section
*/

.container {
    padding: 6em 1em 0em 1em;
    background-color: rgba(0,0,0,.75);
    color: white;
    height: 100%;
}

h1 {
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 20px darkblue, 0 0 30px darkblue, 0 0 40px darkorange, 0 0 50px orange;
    letter-spacing: .2em;
    font-family: fantasy !important;
    font-weight: normal;
    font-size: 2.2em;
}

hr {
    color: darkorange;
    background-color: darkorange;
    margin: 1em 2em;
}

h5 {
    padding: 2em;
    text-align: center;
}

h5 i {
    font-size: 1.5em;
}

#v-divider-left {
    border-left: 1px solid orange;
    height: 200px;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
}

#v-divider-right {
    border-right: 1px solid orange;
    height: 200px;
    position: absolute;
    right: 100%;
    margin-right: -3px;
    top: 0;
}

a#signUpLink {
    position: relative;
    top: 300px;
    color: orange;
}
a#signUpLink:hover {
    color: lightblue;
    text-decoration: none;
}

/*
    Form Styles
*/
#signUp {
    padding-top: 8em;
}

h3 {
    color: orange;
    margin-bottom: 1em;
}

#phoneNumber {
    letter-spacing: .05em;
}

.submit-button {
    margin-top: 2em;
    background-color: orange;
    color: white;
}
.submit-button:hover {
    background-color: #cc8500;
}


/* Meidum screens and up */
@media (min-width: 768px) {
    .container {
        padding-top: 10em;
    }
    h1 {
        font-size: 5em;
    }
}

