/*
    StyleSheet for pages after user is logged in
*/


body {
    background-color: #2c65ab;
}


/* User Navbar Styles*/
.dropdown-menu {
    background-color: #060A13;
}
.dropdown-item {
    color: #6eaae2;
}
.dropdown-item:hover {
    background-color: #060A13;
    color: #dd8755;
}