/*******************************************************************************
* Stylesheet for home page                                                     *
*******************************************************************************/

html, body {
    height: 100%;
}

body {
    background-color: black;
}

.bg-img {
    background-image: url("../images/wallpaper.jpg");
    background-position: 48% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: -1;
    opacity: .4;
}

.error-message {
    font-weight: bold;
}

.container {
    padding-top: 4em;
    color: white;
}

.sub-menu li a {
    padding-top: .25em !important;
    padding-bottom: .25em !important;
}

.profile-card {
    background-color: rgba(0, 0, 0, .75);
    margin-top: 2em;
    padding-bottom: 26em;
}

.profile-card-header {
    border-bottom: 1px solid white;
    padding: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.profile-card-info {
    border-right: 1px solid ghostwhite;
    margin-top: 2em;
    text-align: center;

    width: 50%;
    float: left;
}

.profile-card-shows {
    margin-top: 2em;
    padding: 0em 2em;
    width: 50%;
    float: right;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: lightblue;
    margin-top: .5em;
    margin-bottom: 0em;
}

h5, h3 {
    color: orange;
}

h5 {
    border-bottom: 1px solid white;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    border-bottom: 1px solid white;
    text-align: center;
}

/* Meidum screens and up */
@media (min-width: 768px) {
    .container {
        padding-top: 4em;
    }
    img {
        max-width: 15em;
    }
    .profile-card {
        border: 1px solid darkorange;
        margin: 4em;
    }
}