/*******************************************************************************
* Stylesheet for home page                                                     *
*******************************************************************************/

html, body {
    height: 100%;
}

.sub-menu li a {
     padding-top: .25em !important;
     padding-bottom: .25em !important;
 }

.container {
    padding-top: 4em;
    color: white;
}

.profile-card {
    background-color: rgba(0, 0, 0, .75);
    margin-top: 2em;
    padding-bottom: 26em;
}

.profile-card-header {
    border-bottom: 1px solid white;
    padding: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.profile-card-info {
    border-right: 1px solid ghostwhite;
    margin-top: 2em;
    text-align: center;

    width: 50%;
    float: left;
}

.profile-card-shows {
    margin-top: 2em;
    padding: 0em 2em;
    width: 50%;
    float: right;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: lightblue;
    margin-top: .5em;
    margin-bottom: 0em;
}

h5, h3 {
    color: orange;
}

h5 {
    border-bottom: 1px solid white;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    border-bottom: 1px solid white;
    text-align: center;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 125px;
    right: 125px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Meidum screens and up */
@media (min-width: 768px) {
    .container {
        padding-top: 4em;
    }
    img {
        max-width: 15em;
    }
    .profile-card {
        border: 1px solid darkorange;
        margin: 4em;
    }
}